/* Icon Styles */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/account_in/icomoon.eot?j2x3ee');
  src:  url('fonts/account_in/icomoon.eot?j2x3ee#iefix') format('embedded-opentype'),
        url('fonts/account_in/icomoon.ttf?j2x3ee') format('truetype'),
        url('fonts/account_in/icomoon.woff?j2x3ee') format('woff'),
        url('fonts/account_in/icomoon.svg?j2x3ee#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-home:before {
  content: "\e900";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-exit:before {
  content: "\ea14";
}

/* Global Styles */
html * {
    font-family:  Tahoma, Geneva, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4em;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: rgb(249, 249, 249);
    text-shadow: 1px 1px #404040
}

.nav ul {
	max-width: 1240px;
	margin: 0;
	padding: 0;
	list-style-type: none;
    list-style: none;
	font-size: 1.5em;
	font-weight: 300;
}

.nav li {
    margin-top: 0.2em;
}

.nav li span {
	display: inline-block;
    height: 90%;
}

.nav a {
	display: block;
	color: rgba(249, 249, 249, 0.9);
	text-decoration: none;
	padding: 0.5em;
}

.settings {
    background: rgba(25, 230, 77, 0.85);
}

.sign_out {
    background: rgba(23, 207, 69, 0.85);
}

.home {
    background: rgba(18, 161, 54, 0.85);
}

.icon {
    width: 25%;
}

.icon + span {
    font-size: 1.1em;
}

.nav i {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0.4em;
    border-radius: 50%;
    font-size: 1.2em;
    box-shadow: 0 0 0 0.8em transparent;
    background: rgba(255, 255, 255, 0.1);
}

.set_form {
    display: none;
    color: rgba(249, 249, 249, 0.9);
    text-decoration: none;
    font-size: 0.8em;
    padding: 0.5em;
    background: rgba(25, 230, 77, 0.85);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

input[type=text], input[type=password] {
    width: 72%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.375em 0.625em;
    font-size: 0.8em;
    border: 1px solid white;
    box-sizing: border-box;
}

input[type=button] {
    width: 25%;
    margin-top: 0.4em;
    padding: 0.375em;
    color: rgba(249, 249, 249, 0.9);
	background-color: rgb(25, 230, 77);
    font-size: 0.8em;
   	border: 1px solid white;
	-webkit-appearance: none;
}

#del_acc_btn {
    width: 100%;
}

p {
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    font-size: 0.75em;
    color: #e60000;
}
